.fullTeam{
    margin-top: 20px;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    width: 100%;
    text-align: center;
}

.fullTeamFixed{
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    width: 100%;
    text-align: center;
}
.teamButtons{
    display: flex;
    width: 18%;
    justify-content: space-between;
    margin:  0 auto;
}

.clearTeam{
    font-size: 12px;
    margin: 3vh auto 2vh auto;
    border: none;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
}

.clearTeam:hover{
    color: white;
    background: rgb(58, 71, 90);
    border: 1px solid white;
}
