.pokecard h1{
    font-size: 12px;
    color: white;
}
.pokecard{
    text-align: center;
    padding: 12%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: rgb(58, 71, 90);
    margin: 0 auto 10px auto;
    cursor: pointer;
}
.pokecard:hover{
    box-shadow: 2px 2px 12px #000000;
    transition: 200ms;
    
}
.img{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:600px) {
    .pokecard{
        text-align: center;
        padding: 5%;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background: rgb(58, 71, 90);
        margin: 0 auto 10px auto;
    }
    .pokecard h1{
        font-size: 8px;
        color: white;
    }
    .img{
        width: 60px;
        height: 60px;
    }
  }
@media only screen and (min-width:650px) and (max-width: 1500px) {
    .pokecard h1{
        font-size: 12px;
        color: white;
    }
    .pokecard{
        text-align: center;
        padding: 12%;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background: rgb(58, 71, 90);
        margin: 0 auto 10px auto;
    }
    .pokecard:hover{
        box-shadow: 2px 2px 12px #000000;
        transition: 200ms;
        
    }
    .img{
        width: 100px;
        height: 100px;
    }
  }