.modalForm{
    background: rgb(58, 71, 90);
    text-align: center;
    width: 18em;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.modalBackground{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
}

.moveSelectForm{
    margin: 15px;
}

.moveSelect{
    padding: 5px;
    border-radius: 10px;
}

.modalButtons{
    margin: 8px 10px 25px 10px;
}

.modalImg{
    margin: 20px;
}