.logo{
    margin: 10px auto;
    width: 4%;
}

.teamContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 70%;
    margin: 20px auto;
    height: 20vh;
}

@media only screen and (max-width:650px) {
    .teamContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        height: 29vh;
    }
    .logo{
        margin: 10px auto;
        width: 12%;
    }
    .yourName{
        width: 18%;
    }
    .clearTeam{
        margin: 0 auto 10px auto;
        border: none;
        font-size: 8px;
        padding: 5px;
        border-radius: 8px;
    }
    .clearTeam:hover{
        color: white;
        background: rgb(58, 71, 90);
    }
    
  }
  @media only screen and (min-width:650px) and (max-width: 1500px) {
    .fullTeam{
        background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
        width: 100%;
        text-align: center;
    }
    
    .logo{
        margin: 10px auto;
        width: 4%;
    }
    
    .clearTeam{
        margin: 40px auto;
        border: none;
        padding: 5px;
        border-radius: 8px;
    }
    
    .teamContainer{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        margin: 0 auto;
        height: 16vh;
    }
    
  }