.fullTeam{
    position: fixed;
    z-index: 1em;
    top: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    width: 100%;
    text-align: center;
}

.logo{
    margin: 10px auto;
    width: 4%;
}

.clearTeam{
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    border-radius: 8px;
}

.teamContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 60%;
    margin: 0 auto;
    height: 20vh;
}