.regionSelect{
    width: 9%;
    padding: 10px;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}
.regionSelect select{
    border: none;
    padding: 10px;
    border-radius:10px;
    margin-right: 10px;
}
.regionSelect button{
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.pokecard h1{
    font-size: 12px;
    color: white;
}
.pokecard{
    text-align: center;
    padding: 10px;    
    border-radius: 50%;
    background: rgb(58, 71, 90);
    margin: 5px;
}
.img{
    width: 100px;
    height: 100px;
}