.gridComponentFixed{
    margin-top: 37vh
}
.pokeGrid{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
    
}
.regionSelect{
    width: 10%;
    padding: 10px;
    margin: 40px auto 20px auto;
    align-items: center;
    text-align: center;
}
.regionSelect select{
    border: none;
    padding: 10px;
    border-radius:10px;
    margin-right: 10px;
}
.regionSelect button{
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.regionSelect button:hover{
    color: white;
    background: rgb(58, 71, 90);
} 
@media only screen and (max-width:650px) {
    .pokeGrid{
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto
    }
     .regionSelect{
        width: 100%;
        padding: 10px;
        margin: 40px auto 20px auto;
        align-items: center;
        text-align: center;
    }
  }
@media only screen and (min-width:650px) and (max-width: 1500px) {
    .pokeGrid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        
    }
     .regionSelect{
        width: 100%;
        padding: 10px;
        margin: 40px auto 20px auto;
        align-items: center;
        text-align: center;
    }
  }