.pokecard h1{
    font-size: 12px;
    color: white;
}
.pokecard{
    text-align: center;
    padding: 30px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: rgb(58, 71, 90);
    margin: 5px;
}
.pokecard:hover{
    transform: scale(1.4);
    transition: 500ms;
    box-shadow: 2px 2px 9px #000000;
    
}
.img{
    width: 100px;
    height: 100px;
}