.fullTeam{
    position: fixed;
    top: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    padding: 50px;
    width: 100%;
    
}
.teamContainer{
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 200px;
    margin: 0 auto;
}
.pokeTeam{
    padding: 10px;    
    border-radius: 50%;
    background-image: url('https://www.https://www.pngarts.com/files/4/Pokeball-PNG-Image-Transparent-Background.png.com/picdir/middle/65-653120_pokeball-transparent-background-clipart.png');
    height: 100px;
    width: 100px;
    background: rgb(58, 71, 90);
}