.pokecard h1{
    font-size: 12px;
    color: white;
}
.pokecard{
    text-align: center;
    padding: 10px;    
    border-radius: 50%;
    background: rgb(58, 71, 90);
    margin: 5px;
}
.img{
    width: 100px;
    height: 100px;
}