.SavedTeam{
height: 100vh;
}
.savedTeamContainer{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1vh auto 0 auto; 
}

.noTeam{
    color: white;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}