.move{
    margin: 4px;
    font-size: 7px;
    color: white;
    padding: 10px;
    width: 165px;
    border-radius: 40px;
    background: linear-gradient(123deg, rgba(49,62,83,1) 50%, rgba(58,71,90,1) 50%);
    border: 1px solid rgb(182, 171, 171);
}

.typePP{
    width: 170px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}