.modalForm{
    background: rgb(58, 71, 90);
    text-align: center;
    width: 600px;
    padding: 20px;
    position: absolute;
    max-height: 900px;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 100;
}

.selectedMoves{
    display: flex;
    border: 1px solid rgb(29, 29, 29);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    margin: 10px auto;
    height: 100px;
}

.moveSelectionList{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-padding-bottom: 300px;
    width:550px;
}

.moveSelect{
    padding: 5px;
    border-radius: 10px;
}

.modalButtons{
    margin:30px 10px 25px 10px;
}

.modalImg{
    margin: 10px;
}

.formInvalid{
    color: rgb(248, 56, 56);
    font-weight: bold;
    font-size: .75em;
}