.typeList{
    display: flex;
    justify-content: center;
    width: 10%;
    margin: 0 auto 5px auto;
}
.type{
    border: 0.5px solid rgb(92, 92, 92);
    list-style: none;
    border-radius: 6px;
    background-color: grey;
    padding: 4px;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
}
