.moveInfo{
    position: absolute;
    background: rgba(58,71,90);
    padding: 20px;
    width: 16%;
    border-radius: 10px;
    box-shadow: 2px 2px 16px #000000;
}
.moveInfo hr{
    margin: 5px 0;
}

.mainInfo{
    display: flex;
    justify-content: space-between;
}

.category{
    width:40%;
}

.dClass{
    display: flex;
    justify-content: space-between;
}
.dClass img{
    padding-left: 10px;
}

.stats{
    margin-left: 5px;
}

.infoDisplay{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 549px){
    .moveInfo{
        width: 80%;
        left: 5%;
    }
}  
@media (min-width: 550px) and (max-width: 899px){
    .moveInfo{
        width: 40%;
        right: 15%;
    }
    }
     
@media (min-width: 900px) and (max-width: 1199px){
    .moveInfo{
        width: 30%;
        transform: translateX(-150px);
    }
    }
     
@media (min-width: 1200px) and (max-width: 1399px){
    .moveInfo{
        width: 25%;
    }
    }
@media (min-width: 1400px) and (max-width: 1700px){
    .moveInfo{
        width: 20%;
    }
    }

