.moveInfo{
    position: absolute;
    background: rgba(58,71,90);
    padding: 20px;
    transform: translateX(-40px);
    width: 220px;
    border-radius: 10px;
    box-shadow: 2px 2px 16px #000000;
    z-index: 3;
}
.moveInfo hr{
    margin: 5px 0;
}


.mainInfo{
    display: flex;
    justify-content: space-between;
}

.category{
    width:40%;
}

.dClass{
    display: flex;
    justify-content: space-between;
}
.dClass img{
    padding-left: 10px;
}

.stats{
    margin-left: 5px;
}

.infoDisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 549px){
    .moveInfo{
        width: 80%;
        left: 5%;
    }
}  
@media (min-width: 612px) and (max-width: 899px){

    }
     
@media (min-width: 900px) and (max-width: 1199px){

    }
     
@media (min-width: 1200px) and (max-width: 1399px){

    }
@media (min-width: 1400px) and (max-width: 1700px){

    }

