.NavBar{
    height: 62px;
    background: rgb(58, 71, 90);
    width: 100%;
    align-items: center; 
}
.mainLogo{
    width: 180px;
}

.DrawerToggle{
    display: none;
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    margin: 3px 0;
    background-color: white;
}

.navItemContainer{
   display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 80%;
    margin: 0 auto;
    padding: 6px;
}

.navLinks{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 19px;
    margin: 3px 10px;
}

.navLinks:hover{
    font-weight: 900;
    color: yellow;
    text-shadow: -2px 0 #2964FF, 0 2px #2964FF, 2px 0 #2964FF, 0 -2px #2964FF;
}

@media only screen and (max-width:599px) {
    .linkContainer{
        display: none;
    }
    .mainLogo{
        right: 0;
        width: 120px;
    }

    .navItem{
        margin: 0 12px 0 12px;
    }

    .navItemContainer{
        display: flex;
        justify-content: space-between;
         align-items: center; 
         width: 100%;

         margin: 0 auto;
     }
    
}

@media (min-width: 599px) {
    .DrawerToggle {
        display: none;
    }
}