.teamcard h1{
    font-size: 12px;
    color: white;
}
.teamcard{
    text-align: center;
    padding: 12%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: rgb(58, 71, 90);
    margin: 0 auto 10px auto;
    cursor: pointer;

}
.teamcard:hover{
    box-shadow: 2px 2px 12px #000000;
    transition: 200ms;
    
}
.teamImg{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:650px) {
    .teamcard{
        text-align: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: rgb(58, 71, 90);
        margin: 0 auto 2px auto;
    }
    .teamcard h1{
        font-size: 6px;
        color: white;
    }
    .teamImg{
        width: 40px;
        height: 40px;
    }
  }
@media only screen and (min-width:650px) and (max-width: 1500px) {
    .teamcard h1{
        font-size: 9px;
        color: white;
    }
    .teamcard{
        text-align: center;
        padding: 12%;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: rgb(58, 71, 90);
        margin: 0 auto 10px auto;
    }
    .teamcard:hover{
        box-shadow: 2px 2px 12px #000000;
        transition: 200ms;
        
    }
    .teamImg{
        width: 85px;
        height: 85px;
    }
  }